<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CventSOAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CventSOAP.Properties.Settings>
            <setting name="CventSOAP_V200611_V200611" serializeAs="String">
                <value>https://api.cvent.com/soap/V200611.ASMX</value>
            </setting>
        </CventSOAP.Properties.Settings>
    </applicationSettings>
</configuration>